.order {
    width: 100%;
    font-family: "Work Sans" sans-serif;
    margin-bottom: 7px;
    margin-top: 7px;

    &__order-number-date {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;

        &__order-number-text {
            color: rgba(255, 255, 255, .7);
            font-weight: bold;
            font-size: 14px;
        }

        &__order-date-text {
            font-size: 14px;
            color: rgba(255, 255, 255, .7);
        }
    }

    &__total-sum {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 12px;
            color: rgba(255, 255, 255, .5);
        }

    }
}