.right-background-component__wrapper {
    height: 667px;
    width: 143px;
    position: relative;

    .leaf8 {
        position: absolute;
        bottom: 0;
    }

    .leaf9 {
        position: absolute;
        bottom: 0;
    }

    .leaf10 {
        position: absolute;
        right: 0;
        top: 30%;
    }

    .leaf11 {
        position: absolute;
        right: 0;
    }

    .leaf12 {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .leaf13 {
        position: absolute;
        top: 0;
    }

    .leaf14 {
        position: absolute;
    }

    .leaf15 {
        position: absolute;
        right: 0;
        top: 4%;
    }
}