.profile {
    min-height: 667px;
    width: 375px;
    background-color: #2F2926;
    position: relative;

    &__user-details {
        // width: 100%;
        text-align: center;
        margin-top: 15px;

        img {
            margin-bottom: 15px;
        }

        h1 {
            font-family: "PT Serif" sans-serif;
            font-size: 24px;
            font-weight: bold;
            color: #FFFFFF;
            margin-bottom: 10px;
        }

        p {
            font-family: "Work Sans" sans-serif;
            font-size: 14px;
            color: rgba(255, 255, 255, .8);
        }
    }

    &__order-history {
        margin-top: 50px;
        padding: 30px;

        h2 {
            font-family: "PT Serif", sans-serif;
            font-weight: bold;
            font-size: 22px;
            color: #FFFFFF;
            margin-bottom: 10px;
        }

        .orders-wrapper {
            display: flex;
            flex-direction: column;

            .orders {
                width: 100%;
                border-bottom: 1px solid rgba(255, 255, 255, .08);
            }
            .orders:last-child {
                border-bottom: 1px solid rgba(255, 255, 255, .6);

            }
        }

        .total-spent {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            p {
                font-family: "Work Sans", sans-serif;
                font-weight: bold;
                font-size: 14px;
                color: rgba(255, 255, 255, .8);
            }
        }
    }
}